@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #05979c;
}

::selection {
  color: #fff;
  background: #05979c;
}

.container {
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.container header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container form {
  margin: 40px 0 20px 0;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #d5dddf;
  background-color: #d5dddf;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid #9cbdbe;
}

form .drop-list {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d5dddf;
  background-color: #d5dddf;
  margin: 10px auto;
  padding-left: 10px;
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 0 0 5px;
  width: 100%;
  cursor: pointer;
}


.select-box select::-webkit-scrollbar {
  width: 8px;
}

.select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
  display: none;
}

form .result {
  margin: 15px auto 0px;
  font-size: 18px;
}

form .exchange-rate {
  font-size: 17px;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #d5dddf;
  background-color: #d5dddf;
  margin: 5px auto 10px;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #05979c;
  transition: 0.3s ease;
}

form button:hover {
  background: #026468;
}

.amount {
  margin: 20px auto;
}

@media screen and (max-width:500px) {
  .container {
    min-width: 100vw;
    height: 100vh;
  }
}